<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<!-- ファイル出力（エラーのみ記録） -->
		<target name="file" xsi:type="File" fileName="logs/error.log"
				layout="${longdate} [${level}] ${message}" />

		<!-- Windowsフォームのため、エラーメッセージをポップアップ表示 -->
		<target name="messagebox" xsi:type="MethodCall" className="System.Windows.Forms.MessageBox"
				methodName="Show">
			<parameter layout="${longdate} エラー: ${message}" />
		</target>
	</targets>

	<rules>
		<!-- エラーログのみ出力 -->
		<logger name="*" minlevel="Error" writeTo="file, messagebox" />
	</rules>
</nlog>
